<template>
  <v-app :theme="theme">
    <v-app-bar>
      <v-spacer></v-spacer>
    </v-app-bar>
    <v-navigation-drawer expand-on-hover rail permanent>
      <v-list> </v-list>

      <v-divider></v-divider>

      <v-list density="compact" nav></v-list>
    </v-navigation-drawer>

    <v-main>
      <v-container>Content area</v-container>
    </v-main>
  </v-app>
</template>

<script setup lang="ts">
import { ref } from "vue";
const theme = ref("light");
function onClick() {
  theme.value = theme.value === "light" ? "dark" : "light";
}
</script>
